<%- include ('../user/partials/header', {name:name})%>
    <!-- Header part end-->

    <!-- banner part start-->
    <!-- banner part start-->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="8000">
            <img src="/aranoz-master/img/banner/photo_7_2025-02-16_14-14-26.jpg" class="d-block w-100" alt="Exclusive Launch 2025">
            <div class="carousel-caption d-md-block">
                <h5>Unveil the Future</h5>
                <p>Exclusive 2025 Collection - Be the First to Shop!</p>
                <a href="/shop" class="btn btn-warning text-dark fw-bold">Shop Now</a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
            <img src="/aranoz-master/img/banner/photo_1_2025-02-20_18-48-03.jpg" class="d-block w-100" alt="Flash Sale Mania">
            <div class="carousel-caption d-md-block">
                <h5>Flash Sale Mania!</h5>
                <p>Up to 70% Off - 24 Hours Only!</p>
                <a href="/shop" class="btn btn-danger text-white fw-bold">Grab Deals</a>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="8000">
            <img src="/aranoz-master/img/banner/photo_2_2025-02-16_14-14-26.jpg" class="d-block w-100" alt="Style Redefined">
            <div class="carousel-caption d-md-block">
                <h5>Style Redefined</h5>
                <p>Curated Trends for the Bold and Beautiful.</p>
                <a href="/shop" class="btn btn-success text-white fw-bold">Discover Now</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- banner part end-->
    <!-- banner part start-->

    <!-- feature_part start-->
    <section class="category_cards section_padding" style="background-color:#fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Shop by Category <span>Explore Our Collections!</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="category_grid">
                        <% categorys.forEach(category => { %>
                            <div class="category_card">
                                <div class="category_image">
                                    <img src="/aranoz-master/img/banner/<%=category.name%>.jpg">
                                </div>
                                <div class="category_content">
                                    <h3><%= category.name %></h3>
                                    <a href="/shop?category=<%=category._id%>" class="btn btn-primary">Shop Now</a>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- upcoming_event part start-->

    <!-- product_list start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>New Arrivals!</h2>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <% newArrivals.forEach(product => { %>
                    <div class="col-lg-4 col-md-6 grid-item">
                        <div class="single_product_item">
                            <div class="product_image_wrapper">
                                <img src="<%= product?.variants[0]?.images[0] %>" alt="<%= product.name %>">
                                <a href="/product-details/<%=product._id%>" class="quick_view_btn" data-product-id="<%= product._id %>">Quick View</a>
                            </div>
                            <div class="single_product_text">
                                <h4><%= product.name %></h4>
                                <h3>₹<%= product.baseprice %></h3>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
    
    
    
    
    <!-- awesome_shop part start-->

    <!-- product_list part start-->
    <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                           <!-- image -->
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                           
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                           
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                      
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var grid = document.querySelector('.grid');
            if(grid){
                new Masonry(grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-item',
                percentPosition: true
            });
            }else{
                console.error("element not found:",grid)
            }
            
        });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

        

    <!--::footer_part start::-->
    <%- include ('../user/partials/footer')%>